body{
    padding: 0;
    margin: 0;
    background-image: url(../IMG/background.png);
    font-family: 'Irish Grover', cursive;
    background-size: cover;
}

.voltar{
    font-family: 'Irish Grover', cursive;
    position: absolute;
    font-weight: 300;
    padding: 15px;
    width: 12vw;
    background-color: #d4b348;
    color: #fdfdfd;
    -webkit-text-stroke: 5px #443a0b;
    paint-order: stroke fill;
    font-size: 1.6rem;
    border-radius: 10px;
    left: 4vw;
    top: 5vh;
    border: 5px;
    transition: 0.5s;
}

.voltar:hover{
    cursor: pointer;
    background-color: #8f7931;

}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    
}

.container img{
    width: 25vw;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info h1{
    color: #d4b348;
    -webkit-text-stroke: 5px #000;
    paint-order: stroke fill;
    font-size: 7rem;
    margin: 0;
    padding: 0;
    text-shadow: 3px 3px 0 #a52222,
                 6px 6px 0 #000;
}

.info p{
    color: #d4b348;
    -webkit-text-stroke: 3px #280846;
    paint-order: stroke fill;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

form{
    background-color: #b88cc98c;
    width: 45vw;
    height: 45vh;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
}

.fundoResposta{
    background-color: #fdfdfd81;
    padding: 15px;
    border-radius: 15px;
    font-size: 1.5rem;
    transition: 0.5s;
    

}

input[type="radio"] {
  width: 20px;
  height: 20px;
}

.fundoResposta:hover{
    background-color: #8f8080;
    cursor: pointer;

}

label:hover, input:hover{
    cursor: pointer;

}